<%- include("partials/header") %>
    <link rel="stylesheet" href="/index.css" />
    <%- include("partials/navbar") %>

        <h1 style="margin:210px auto; font-size: 4.5em; text-align: center;" class="ml15">
            <span style="color:#5CDB95; letter-spacing: normal;" class="word">Contact</span>
            <span style="color:#5CDB95; letter-spacing: normal;" class="word">Us</span>
        </h1>
        </header>
        <section id="contact" class="section section-contact scrollspy">
            <div class="container">
                <div class="row">
                    <div class="col s12 m6">
                        <div class="card-panel white-text center" style="height:100%;background-color: #379683">
                            <i class="material-icons medium">home</i>
                            <h5>About Us</h5>
                            <p>
                                Travel post COVID-19 is never going to be the same, the authorities will need a way to verify patient records for travellers. WellPass is a web based application for securely storing and verifying patient data. We use blockchain & IPFS(InterPlanetary
                                File System) for secure and decentralized storage of medical records. The user requests his data from his dashboard. The approved hospital receives the patient’s request and adds the encrypted data to ethereum blockchain.
                                After that a QRCode is generated for the user which stores the patient data.When the user is traveling he/she simply displays his/her code to the authorities, they in turn scan the code via the web application or the mobile
                                application.If the blockchain address is valid they are allowed to travel. This prevents any sort of forgery of data by anybody. We have also created a admin panel for authorising the right hospitals.
                            </p>
                        </div>

                    </div>
                    <div id="google-map-tab" class="col s12 m6">
                        <!-- GOOGLE MAP -->
                        <div class="center-align">
                            <div id="map_2">
                                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d14239.509132724346!2d75.5652343!3d26.8438552!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x1b8d67402d4eb863!2sManipal+University+Jaipur!5e0!3m2!1sen!2sin!4v1563908033057!5m2!1sen!2sin" class="embed-responsive-item"
                                    frameborder="0" width="100%" height="100%" allowfullscreen="yes" style="border: 0px;"></iframe>
                            </div>
                        </div>
                    </div>
                    <div class="col s12 m6 " style="width: 100%; padding: 1%;">
                        <div class="center-align">
                            <div class="card  darken-1" style="background-color: #379683">
                                <div class="card-content center white-text">
                                    <span class="card-title" style="padding: 1%;">Contact Developers</span>
                                    <p>
                                        <h6 class="white " style="padding: 1%; color: rgb(15, 86, 199);">
                                            Sarthak Arora
                                        </h6>
                                        <a href="sarthakarora1208@gmail.com" class="white-text">sarthakarora1208@gmail.com</a><br />
                                        <br />
                                        <h6 class="white " style="padding: 1%;color: rgb(15, 86, 199);">
                                            Pranav Garg
                                        </h6>
                                        <a href="pranavgarg022@gmail.com" class="white-text">pranavgarg022@gmail.com</a><br />
                                        <br />
                                        <h6 class="white " style="padding: 1%;color: rgb(15, 86, 199);">
                                            Varun Ramnani
                                        </h6>
                                        <a href="varunhhhrahul@gmail.com" class="white-text">varunhhhrahul@gmail.com</a><br />
                                        <br />
                                        <h6 class="white " style="padding: 1%; color: rgb(15, 86, 199);">
                                            Akshit Suri
                                        </h6>
                                        <a href="a.akshitsuri@gmail.com" class="white-text">a.akshitsuri@gmail.com</a><br />
                                        <br />
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="section section-follow  darken-2 white-text center " style="background-color:#379683">
            <footer id="main-footer">
                Copyright &copy; 2020 &nbsp;
                <a href="htttps://facebook.com" target="_blank" class="white-text">
                    <i class="fab fa-facebook fa-2x"></i>
                </a>
                &nbsp;
                <a href="htttps://twitter.com" target="_blank" class="white-text">
                    <i class="fab fa-twitter fa-2x"></i>
                </a>
                &nbsp;
                <a href="htttps://linkedin.com" target="_blank" class="white-text">
                    <i class="fab fa-linkedin fa-2x"></i>
                </a>
                &nbsp;
                <a href="htttps://instagram.com" target="_blank" class="white-text">
                    <i class="fab fa-instagram fa-2x"></i>
                </a>
                &nbsp;
            </footer>
        </section>




        <%- include("partials/footer") %>

            <script>
                $('.message .close').on('click', function() {
                    $(this).closest('.message').transition('fade');
                });
            </script>
            <script src="/index.js "></script>
            </body>

            </html>