<%- include("partials/header") %>
    <link rel="stylesheet" href="/index2.css" />
    <%- include("partials/navbar") %>


        <!-- FORM -->
        <div class="form1">
            <div class="ui raised segment dimmable">
                <div class="ui inverted dimmer">
                    <div class="content">
                        <div class="ui text loader">Loading</div>
                    </div>
                </div>
                <h2 class="ui header">Forget Password</h2>
                <p style="color: black;">Enter registered email addres to reset your password </p>
                <div class="ui divider"></div>
                <form class="ui  form">
                    <div class="field">
                        <div class="field"><label>Email Address</label>
                            <div class="ui left icon input"><input style="padding: 1%;" aria-invalid="true" placeholder="Enter Email" name="email" type="text" value=""><i aria-hidden="true" class="mail icon"></i></div>
                        </div>
                    </div>
                    <div class="ui divider"></div>
                    <button type="submit" class=" circular ui red button">
                <div class="content">Reset Password</div>
            </button>
                </form>
            </div>
        </div>

        </header>


        <%- include("partials/footer") %>
            <script src="/dashboardUser.js "></script>
            </body>

            </html>