<%- include("partials/header") %>
    <link rel="stylesheet" href="/admin.css" />
    <%- include("partials/navbar2") %>

        <h3 style="margin-top: 150px;font-size: 3.5em; text-align: center;" class="ml15">
            <span style="color: white;letter-spacing: normal;" class="word">Add</span>
            <span style="color: #5CDB95;letter-spacing: normal;" class="word">Hospital</span>
        </h3>
        <div class="wrapper">
            <a style=" background-color: #379683; color: white; " href="/hospitals/add-hospital " class="circular ui large button">Add Hospital</a></div>
        </div>
        </header>

        <%- include("partials/footer") %>
            <script>
                $('.message .close').on('click', function() {
                    $(this).closest('.message').transition('fade');
                });
            </script>
            <script src="/bundle.js"></script>
            <script src="/qrcode.min.js"></script>
            <script src="/userDashboardNext.js"></script>
            </body>

            </html>