<%- include("partials/header") %>
    <link rel="stylesheet" href="/index.css" />
    <%- include("partials/navbar") %>

        <div class="ui container">
            <div class="ui two column grid padded ">
                <div class="row hom-txt">
                    <div class="column">
                        <h1 style="color: red" class="ml2"> <b>The Best Place to get data for Patients of :</b></h1>
                        <h3 class="ml8">
                            <span class="letters-container">
                        <span class="letters letters-left">COVID<span style="color:red">-</span>19</span>
                            <span class="letters bang" style="color:red;">!</span>
                            </span>
                            <span class="circle circle-white"></span>
                            <span class="circle circle-dark"></span>
                            <span class="circle circle-container"><span class="circle circle-dark-dashed"></span></span>
                        </h3>
                        <p id="para" style="font-size: large; font-weight: 400;"><b>This website will help you get all the
                        latest data of each hospital on COVID-19 patients.</b></p>
                    </div>
                </div>

                <a href="/auth/user-register" id="btn" class="circular ui red button">Start Now</a>
                <a href="/qrscanner" id="btn" class="circular ui green button">QR Code Scanner</a>
            </div>
        </div>
        <h1 class="ml8">
            <span class="letters-container">
        <span class="letters letters-left">COVID<span style="color:red">-</span>19</span>
            <span class="letters bang" style="color:red;">!</span>
            </span>
            <span class="circle circle-white"></span>
            <span class="circle circle-dark"></span>
            <span class="circle circle-container"><span class="circle circle-dark-dashed"></span></span>
        </h1>

        </header>
        <!-- Section: Icon Boxes -->
        <section class="section section-icons grey lighten-4 center ">
            <div class="container ">
                <div class="row ">
                    <div class="col s12 m4 ">
                        <div class="card-panel ">
                            <i class="material-icons large " style="color: #379683">check_box</i>
                            <h5 style="font-weight: 700; font-size: 27px;">Verification App</h5>
                            <p>
                                One step solution to all your healthcare needs. Generates a well pass for your verifictaion.
                            </p>
                        </div>
                    </div>
                    <div class="col s12 m4 ">
                        <div class="card-panel ">
                            <i class="material-icons large" style=" color: #379683">layers</i>
                            <h5 style="font-weight: 700; font-size: 27px; ">Blockchain Powered</h5>
                            <p>
                                Your data is securely stored in Blockchain and further decrypted for verification of data.
                            </p>
                        </div>
                    </div>
                    <div class="col s12 m4 ">
                        <div class="card-panel ">
                            <i class="material-icons large " style="color:#379683">center_focus_weak</i>
                            <h5 style=" font-weight: 700; font-size: 27px "><b>QR Code Generation</b></h5>
                            <p>
                                A unique QR Code is generated to ensure the legetimacy of the user data.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="section section-follow  darken-2 white-text center " style="background-color: #379683">
            <div class="container ">
                <div class="row ">
                    <div class="col s12 ">
                        <h4>Benefits of Well<span style="color: #05386B;">Pass</span></h4>
                        <br> In the post COVID-19 world there will be an urgent need to verify the medical records of the patient before he or she is allowed to travel around. WellPass enables easy access of medical data to authorities. Storing data on
                        the blockchain ensures trust between authorities,patients and the hospitals.Free to use,this application will enable smooth outstation travel for the patients. The end users don’t need to carry their offline copies of their medical
                        reports. The authorities just need a simple app or the web interface to check the validity of the claims by the users

                    </div>
                </div>
            </div>
        </section>


        <section class="features">
            <br>
            <h4 class="center ">
                <span style="color: #379683;">Explore</span> Features
            </h4>
            <div class="carousel">
                <a class="carousel-item" href="#one!">
                    <div class="card">
                        <div class="card-image">
                            <img src="/images/1.png" alt="">
                        </div>
                    </div>
                </a>
                <a class="carousel-item" href="#two!">
                    <div class="card">
                        <div class="card-image">
                            <img src="/images/2.png" alt="">
                        </div>
                    </div>
                </a>
                <a class="carousel-item" href="#three!">
                    <div class="card">
                        <div class="card-image">
                            <img src="/images/3.png" alt="">
                        </div>
                    </div>
                </a>
                <a class="carousel-item" href="#four!">
                    <div class="card">
                        <div class="card-image">
                            <img src="/images/4.png" alt="">
                        </div>
                    </div>
                </a>
                <a class="carousel-item" href="#five!">
                    <div class="card">
                        <div class="card-image">
                            <img src="/images/5.png" alt="">
                        </div>
                    </div>
                </a>

            </div>
        </section>
        <section class="section section-follow  darken-2 white-text center " style="background-color:#379683">
            <footer id="main-footer">
                Copyright &copy; 2020 &nbsp;
                <a href="htttps://facebook.com" target="_blank" class="white-text">
                    <i class="fab fa-facebook fa-2x"></i>
                </a>
                &nbsp;
                <a href="htttps://twitter.com" target="_blank" class="white-text">
                    <i class="fab fa-twitter fa-2x"></i>
                </a>
                &nbsp;
                <a href="htttps://linkedin.com" target="_blank" class="white-text">
                    <i class="fab fa-linkedin fa-2x"></i>
                </a>
                &nbsp;
                <a href="htttps://instagram.com" target="_blank" class="white-text">
                    <i class="fab fa-instagram fa-2x"></i>
                </a>
                &nbsp;
            </footer>
        </section>

        <%- include("partials/footer") %>

            <script>
                $('.message .close').on('click', function() {
                    $(this).closest('.message').transition('fade');
                });
            </script>
            <script src="/index.js "></script>
            </body>

            </html>