<%- include("partials/header") %>
    <link rel="stylesheet" href="/index2.css" />
    <%- include("partials/navbar") %>
        <h1>
            <span style="letter-spacing: 0.1em; text-transform: uppercase;">Verify</span>
            <span style="color:#8EE4AF; letter-spacing: 0.1em; text-transform: uppercase;" class="word">User</span>
        </h1>
        <div id="loadingMessage">🎥 Unable to access video stream (please make sure you have a webcam enabled)</div>
        <div style="text-align: center;">
            <canvas id="canvas" hidden></canvas>
        </div>
        <style>
            h1 {
                color: white;
                text-align: center;
            }
            
            #canvas {
                -webkit-box-shadow: 8px 9px 29px -4px rgba(0, 0, 0, 0.62);
                -moz-box-shadow: 8px 9px 29px -4px rgba(0, 0, 0, 0.62);
                box-shadow: 8px 9px 29px -4px rgba(0, 0, 0, 0.62);
                border-radius: 2px;
                margin: 0 auto;
                width: 40%;
            }
            
            @media only screen and (max-width: 800px) {
                #canvas {
                    width: 70%;
                }
            }
        </style>
        <div style="margin: 0 auto; text-align: center; height:100%;" class="ui basic modal mod1">
            <div class="ui icon header">
                <i class="hospital icon"></i>User Verification Details
            </div>
            <div class="content">
                <br>
                <div>
                    <h5 style="color:royalblue;">Name:</h5>
                </div>
                <div>
                    <h5 id="fn"></h5>
                </div>
                <br>
                <div>
                    <h5 style="color:royalblue;"><i style="display: none; color: green;" id="check" class="checkmark icon"></i><i style="display: none; color: red;" id="cross" class="remove icon"></i>Address:</h5>
                </div>
                <div>
                    <h5 id="address"></h5>
                </div>
                <br>
                <div>
                    <h5 style="color:royalblue;">Email:</h5>
                </div>
                <div>
                    <h5 id="email"></h5>
                </div>
                <br>
                <div>
                    <h5 style="color:royalblue;">Hospital Name:</h5>
                </div>
                <div>
                    <h5 id="hospitalName"></h5>
                </div>
                <br>
                <div>
                    <h5 style="color:royalblue;">Admission Date:</h5>
                </div>
                <div>
                    <h5 id="admissionDate"></h5>
                </div>
                <br>
                <div>
                    <h5 style="color:royalblue;">Release Date:</h5>
                </div>
                <div>
                    <h5 id="releaseDate"></h5>
                </div>
                <br>
                <div>
                    <h5 style="color:royalblue;">IPFS URL</h5>
                </div>
                <div>
                    <h5>
                        <a href="#" id="ipfsURL"></a>
                    </h5>
                </div>

                <br>
                <div id="message" style="color: red; display: none;">
                    <h5>The address you have is incorrect.</h5>
                </div>
                <br>
                <div style="text-align: right;" class="actions">
                    <button class="ui blue basic ok inverted  button"><i class="remove icon"></i>Close</button>
                </div>
            </div>


        </div>

        <%- include("partials/footer") %>

            <script src="/bundle.js"></script>
            <script src="/jsQR.js"></script>
            <script src="/scanner.js"></script>
            </body>

            </html>