</head>

<body>
    <header id="showcase">
        <div class="navbar-fixed">
            <nav class="none" style="padding:5px 10px; position: fixed;">
                <div class="nav-wrapper">
                    <a href="#" class="brand-logo"> Well<span style="color:#8EE4AF">Pass</span></a></a>
                    <a href="#" class="sidenav-trigger" data-target="mobile-nav">
                        <i class="material-icons">menu</i>
                    </a>

                    <ul class="right hide-on-med-and-down ">
                        <li><a href="/">Home</a></li>
                        <li><a href="/auth/login">Login</a></li>
                        <li><a href="/auth/register">Register</a></li>
                        <li><a href="/contactUs">Contact Us</a></li>
                        <li><a href="/verify">Verify Address</a></li>
                        <li><a href="/qrscanner">Scan QR Code</a></li>
                    </ul>
                </div>
            </nav>
        </div>

        <ul class="sidenav" id="mobile-nav">
            <li><a style="color:white;" href="/">Home</a></li>
            <li><a style="color:white;" href="/auth/login">Login</a></li>
            <li><a style="color:white;" href="/auth/register">Register</a></li>
            <li><a style="color:white;" href="/contactUs">Contact Us</a></li>
            <li><a style="color:white;" href="/verify">Verify Address</a></li>
            <li><a style="color:white;" href="/qrscanner">Scan QR Code</a></li>
        </ul>