</head>

<body>
    <header id="showcase">
        <div class="navbar-fixed">
            <nav class="none">
                <div class="container">

                    <div class="nav-wrapper">

                        <a href="#" class="brand-logo">
                            Well<span style="color: #8EE4AF">Pass</span></a>
                        <a href="#" class="sidenav-trigger" data-target="mobile-nav">
                            <i class="material-icons">menu</i>
                        </a>

                        <ul class="right hide-on-med-and-down ">
                            <li><a href="#">Logged in as
                                    <% if(user.name){ %>
                                    <%= user.name %>
                                    <% }%>
                                </a></li>
                            <li><a href="/auth/logout">Logout</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>

        <ul class="sidenav" id="mobile-nav">
            <li>
                <a style="color:white;" href="#">
                    Logged in as
                    <% if(user.name){ %>
                    <%= user.name %>
                    <% }%>
                </a>
            </li>
            <li><a style="color:white;" href="/auth/logout">Logout</a></li>
        </ul>